*{
    font-family: 'Open Sans', sans-serif;
    } 

.producto{
    display: flex;
}

.photo_container{
    width: 50%;
}

.product_photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_title{
    text-align: center;
    margin-bottom: 32px;
    font-size: 60px;
}

.info_title{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info_stars{
    display: flex;
    justify-content: center;
}

.product_description{
    font-size: 24px;
}

.info_container{
    border-style: solid;
    width: 50%;
    padding: 42px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info_buy{
    text-align: center;
    cursor: pointer;
}

.buy_button{
    font-size: 22px;
    background: #006B53;
    color: white;
    border-radius: 11px;
    padding: 5px 20px 5px 20px;
}

.product_price{
    font-size: 24px;
    margin-top: 10px;
}

.similar_products{
    width: 100%;
    padding-bottom: 30px;
    border-style: solid;
    box-sizing: border-box;
}

.photo_columns{
    width: 100%;
}

.photo_title{
    width: 100%;
    text-align: center;
}

.name_photo_title{
    padding: 20px;
    font-size: 60px;
}

.article_container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.article_one{
    width: 20%;
    display: flex;
}

.photo_one{
    width: 50%;
    height: 100%;
}
.photo_info_title{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image_one{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews{
    padding-left: 60px;
    border: 2px solid black;
}

.review_article_title{
    padding: 20px 0px 40px 0px;
    font-size: 40px;
    text-align: left;
}

.user_container{
    display: flex;
    align-items: center;
    width: 100%;
}

.user_container2{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
}

.user_small{
    width: 60px;
    margin-right: 10px;
}

.usser_revier{
    text-align: center;
}

.user_text_review{
    width: 70%;
    margin-left: 200px;
    font-size: 24px;
}

/*
Responsive dispositivos moviles - Tablet
*/

@media only screen and (max-width: 768px) {

    .info_container{
    padding: 21px 30px;
    }

    .product_title{
        font-size: 25px;
    }

    .info_review{
        margin: 10px;
        text-align: center;
    }

    .product_description{
        text-align: center;
        font-size: 18px;
    }

    .buy_button{
        margin-top: 15px;
        display: block;
        font-size: 13px;
    }

    .name_photo_title{
        font-size: 25px;
    }

    .photo_product_title{
        font-size: 22px;
    }

    .article_stars{
        display: flex;
    }

    .photo_one{
        width: 100%;
        height: 100%;
    }

    .article_container{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .article_one{
        width: 100%;
    }

    .star_small{
        width: 10px;
    }

    .photo_info_title{
        align-items: center;
    }

    .reviews{
        padding: 0;
        margin: 0;
        border: 2px solid black;
    }

    .review_title{
        font-size: 25px;
        text-align: center;
    }

    .user_text_review{
        width: 70%;
        margin-left: 0;
        font-size: 20px;
        padding-top: 40px;
        text-align: center;
    }

    .star_small{
        width: 15px;
    }

    .user_container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .user_container2{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 60px;
    }

    .similar_products{
        width: 100%;
        padding-bottom: 15px;
        border-style: solid;
        box-sizing: border-box;
    }

}    