* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  transition: 0.5s all;
}

header {
  max-height: 150px;
  background-color: #5ed2bb;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.items {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.goku {
  width: 30%;
  height: 30px;
  padding: 0 5px 0 5px;
}

.img_input {
  display: flex;
  align-items: center;
}

.items_ul li {
  padding: 10px 30px 10px 30px;
  background-color: #006b53;
  text-decoration: none;
  font-size: 14px;
  border-radius: 15px;
  margin: 7px;
  transition: 0.2s all;
}

.items_ul li:hover {
  transform: scale(1.1);
}

li a {
  text-decoration: none;
  color: #fff;
}

.items_ul {
  max-height: 20px;
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 12px;
}

.logo {
  height: 80px;
}

.carrito {
  max-height: 100%;
  padding-right: 10px;
}

.cart {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  background-color: #fff;
  padding: 1%;
  border-radius: 15px;
  height: 100%;
}

.main_article {
  margin-bottom: 100px;
}

.product_item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 350px;
  height: 400px;
}

.product_item p,
.product_item img {
  padding: 15px;
}

.section_imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product_item img {
  height: 225px;
}

.welcome {
  height: 250px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.welcome h1 {
  font-size: 50px;
}

.all_featured_products {
  border-top: 1px solid black;
}

.featured_products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 50px;
}

.all_featured {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.featured_containers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.product_item_featured {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  align-items: center;
}

.product_item_featured img {
  height: 310px;
}

.product_item_featured p {
  font-size: 20px;
}

.arrow {
  height: 50px;
  width: 50px;
  transform: rotate(90deg);
  transition: 1s;
}
.arrow2 {
  width: 50px;
  height: 50px;
  transform: rotate(270deg);
  transition: 1s;
}

.separator {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.title {
  font-size: 30px;
  height: 100px;
}
.announcement_text {
  padding: 0 100px 0 100px;
}

.show_images,
.small_img_gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.small_img_gallery {
  width: 60%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.big_img {
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  align-items: center;
  justify-content: center;

  font-size: 20px;
}

.big_img img {
  height: 400px;
  border: 1px solid black;
}

.big_img p {
  height: 1px;
}

.small_img {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 120%;
  margin: 10px 0;
}

.small_img img {
  border: 1px solid black;
}

.section_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-top: 1px solid black;
}

.section_about .title {
  display: flex;
  height: 150px;
  align-items: center;
}

.section_about .about_us {
  padding: 0 100px 0 100px;
  margin-bottom: 100px;
}

footer {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  height: 220px;
  border: 1px solid black;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  height: 100%;
  width: 50%;
}

.contact p {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.inputs input {
  margin: 10px 0;
  height: 30px;
}

.footer_right {
  padding: auto;
}

.footer_right img {
  padding: auto;
  height: 150px;
  border: 1px solid black;
}

.div_address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div_address p{
    margin: 10px;
}

ul {
  list-style-type: none;
}

footer li a {
  color: #000;
}

textarea {
  width: 100%;
  height: 100px;
  margin: 10px 0;
  resize: none;
}

.div_social_media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.div_social_media li {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 0;
}

.div_social_media li a:hover {
  color: #05f;
}
